<!DOCTYPE html>
<html>

<head>
    <title>Welcome Teacher!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Logo/halfLogoV1.png">
    <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="Semantic-UI-CSS-master/semantic.min.js"></script>
    <style>

        body {
            background-color: black;
        }

        #logo {
            margin-top: 50px;
            width: 200px;
        }

        #add {
            float: right;
        }

        #logout {
            float: right;
        }
    </style>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script>
        window.onload = function() {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Desktop Search Engine Market Share - 2016"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0.00\"%\"",
                indexLabel: "{label} {y}",
                dataPoints: [
                    {y: 79.45, label: "Google"},
                    {y: 7.31, label: "Bing"},
                    {y: 7.06, label: "Baidu"},
                    {y: 4.91, label: "Yahoo"},
                    {y: 1.26, label: "Others"}
                ]
            }],
            backgroundColor: "#000000"
        });
        chart.render();
        }
        </script>
</head>
<body>
    <div class="ui container">
        <div class="ui grid">
            <div class="eight wide column">
                <a href="home"><img src="Logo/fullLogoV3.png" id="logo"></a>
            </div>
            <div class="eight wide column">
                <br>
                <br>
                <button class="ui inverted red button" onclick="window.location.href='logout'" id="logout"><i
                        class="sign out alternate icon"></i> Logout</button><br><br><br><br><br>
            </div>
            <div class="sixteen wide column">
                <h1 class="ui horizontal divider header" style="color: white;">
                    <i class="book icon"></i>
                    <%- class_id -%>
                </h1>
                <input type="hidden" id="class_ID" value="<%- class_id -%>">
                <h2 align="center" style="color: white;">
                    <%- class_name -%>
                </h2>
                <h3 class="ui horizontal divider header" style="color: white;">
                    <i class="bar chart icon"></i>
                    Dashbood
                </h3>
            </div>
            <div class="sixteen wide column">
                <div align="right">
                    <table>
                        <tr>
                            <td>
                                <form method="POST" action="summary">
                                    <button class="ui inverted green button" type="submit"value="<%- class_id -%>,<%- class_name -%>" id="classid" name="classid">Student Lists</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
                <br>
                <table >
                    <tr>
                        <td>
                            <div class="ui equal width center aligned padded grid">
                                <div class="row">
                                    <div class="olive column" style=" width: 290px; height: 150px; border-radius: 8px; left: 55px;">
                                      Olive
                                    </div>
                                  </div>
                            </div>
                        </td>
                        <td>
                            <div class="ui equal width center aligned padded grid">
                                <div class="row">
                                    <div class="olive column" style=" width: 290px; height: 150px; border-radius: 8px; left: 120px;">
                                      Olive
                                    </div>
                                  </div>
                            </div>
                        </td>
                        <td>
                            <div class="ui equal width center aligned padded grid">
                                <div class="row">
                                    <div class="olive column" style=" width: 290px; height: 150px; border-radius: 8px; left: 185px;">
                                      Olive
                                    </div>
                                  </div>
                            </div>
                        </td>
                    </tr>
                </table >
            </div>
        </div>
        <br>
        <div align="center" id="chartContainer" style="height: 300px; width: 70%;"></div>
    </div>
</body>
</html>