<!DOCTYPE html>
<html>

<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Welcome Teacher!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Logo/halfLogoV1.png">
    <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="Semantic-UI-CSS-master/semantic.min.js"></script>
    <style>
        body {
            background-color: black;
        }

        #logo {
            margin-top: 50px;
            width: 200px;
        }

        #add {
            float: right;
        }

        #logout {
            float: right;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#addstd").click(function () {
                $('#std_modal')
                    .modal('setting', 'transition', 'horizontal flip')
                    .modal('show')
                    ;
            });
            $("#checkSTD").click(function () {
                $('#std_check_modal')
                .modal('setting', 'transition', 'horizontal flip')
                    .modal('show')
                    ;
            })
        });
    </script>
    <script>
        function download_csv() {
            data = document.getElementById("csv").value;
            let a = []
            var array = data.split("+")
            array.forEach(element => {
                let valueSplit = element.split(",")
                a.push(valueSplit)
            });
            // console.log(a)
            var csv = 'No,ID,Name,Status,In Class,Out Class\n';
            a.forEach(function(row) {
                    csv += row.join(',');
                    csv += "\n";
            });
        
            var hiddenElement = document.createElement('a');
            hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
            hiddenElement.target = '_blank';
            hiddenElement.download = document.getElementById("class_ID").value + "_" + document.getElementById("class_NAME").value + 'list_of_students.csv';
            hiddenElement.click();
        }
    </script>
    <script>
        $(document).ready(function(){
        $("#seach_value").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#showclass tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        });
    </script>
</head>

<body>
    <div id ="demo"></div>
    <div class="ui container">
        <div class="ui grid">
            <div class="eight wide column">
                <a href="home"><img src="Logo/fullLogoV3.png" id="logo"></a>
            </div>
            <div class="eight wide column">
                <br>
                <br>
                <button class="ui inverted red button" onclick="window.location.href='logout'" id="logout"><i
                        class="sign out alternate icon"></i> Logout</button><br><br><br><br><br>
            </div>
            <div class="sixteen wide column">
                <h1 class="ui horizontal divider header" style="color: white;">
                    <i class="book icon"></i>
                    <%- class_id -%>
                </h1>
                <input type="hidden" id="class_ID" value="<%- class_id -%>">
                <h2 align="center" style="color: white;">
                    <%- class_name -%>
                </h2>
                <input type="hidden" id="class_NAME" value="<%- class_name -%>">
                <h3 class="ui horizontal divider header" style="color: white;">
                    <i class="bar chart icon"></i>
                    Student Lists
                </h3>
            </div>
            <div class="sixteen wide column">
                <div align="right">
                    <table>
                        <tr>
                            <td>
                                <button class="ui inverted green button" id="addstd" name="addstd">Add Student</button>
                                <button class="ui inverted green button" id="checkSTD" name="checkSTD">Check Student</button>
                                <button class="ui inverted green button" onclick="download_csv()">CSV</button>
                            </td>
                            <td>
                                <form method="get" action="dashboard">
                                    <button class="ui inverted green button" type="submit" >Dashboard</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="csv" name="csv" value="<%- csv -%>">
                    <br>
                    <form class="ui form error" method="POST" action="search">
                        <div class="ui action input" style="width: 30%;">
                            <input type="text" name="seach_value" id="seach_value" placeholder="Search...">
                        </div>
                        <input type="hidden" id="class" name="class" value="<%= class_id %>">
                        <input type="hidden" id="class_name" name="class_name" value="<%- class_name -%>">
                    </form>
                </div>
            </div>
            <div class="sixteen wide column">
                <table class="ui selectable inverted brown table" id="tclass">
                    <thead>
                        <tr class="center aligned">
                            <th>No</th>
                            <th>Student ID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="showclass" class="center aligned">
                        <form class="ui form" novalidate="novalidate" align ="center" >
                            <%- test -%>
                        </form>
                    </tbody>
                </table>
                <div align="center" style="color: white;">
                    <%- test2 -%>
                </div>
            </div>
        </div>
    </div>
    <div class="ui tiny modal" id="std_modal">
        <i class="close icon"></i>
        <div class="header">
            <i class="edit outline icon"></i>Add Student
        </div>
        <div class=" content">
            <form class="ui form error" method="POST" action="addSTD">
                <label>Srudent ID</label>
                <div class="fields">
                    <input type="text" name="std_id" id="std_id" placeholder="Ex:B5970000">
                </div>
                <label>First Name</label>
                <div class="fields">
                    <input type="text" name="firstname" id="firstname">
                </div>
                <label>Last Name</label>
                <div class="fields">
                    <input type="text" name="lastname" id="lastname">
                </div>
                <div class="fields">
                    <input type="hidden" name="a" id="a" value="<%- class_id -%>">
                </div>
                <button class="ui button" type="submit">Add Student</button>
            </form>
        </div>
    </div>

    <div class="ui tiny modal" id="std_check_modal">
        <i class="close icon"></i>
        <div class="header">
            <i class="edit outline icon"></i>Check
        </div>
        <div class=" content">
            <form enctype="multipart/form-data" action="/uploadFile" method="post">
                <input id="fileValue" name="fileValue" type="file" />
                <input type="hidden" name="classDetail" id="classDetail" value="<%- class_id -%>,<%- class_name -%>">
                <button class="ui button" type="submit" id="inpFileButton">Upload File</button>
            </form>
        </div>
    </div>
</body>

</html>